* {
  font-family: "Lato";
}

.form-input {
  div {
    background-color: transparent !important;
  }
  input {
    color: white;
    font-family: "Lato";
  }

  textarea {
    color: white;
    font-family: "Lato";
  }
}
